:root {
    --background-color-light: #B7E3D4;
    --text-color-light: #333;
    --background-color-dark: #222;
    --text-color-dark: #fff;
}

body {
    background-color: var(--background-color-light);
    color: var(--text-color-light);
    transition: background-color 0.3s, color 0.3s;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body.dark-mode {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
}

.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card1,
.card2,
.card3 {
    width: calc(30% - 20px);
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.weather-icon {
    width: 170px;
    margin-top: 30px;
}

.weather h1 {
    font-size: 80px;
    font-weight: 500;
}

.weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 40px;
    margin-right: 10px;
}

.humidity {
    font-size: 28px;
    margin: -6px;
}

.weather {
    display: none;
}

.error {
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}


.dark-mode .card1,.dark-mode .card2,.dark-mode .card3 {
    background: linear-gradient(135deg, #333, #444);
}

.dark-mode .search input {
    background: #444;
    color: #eee;
}

.dark-mode .search button {
    background: #444;
}


.toggle-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    color: var(--text-color-light);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 14px; 
    padding: 5px 10px; 
    border-radius: 50%;
}


.dark-mode .toggle-button {
    color: var(--text-color-dark);
}


